{% extends "base.html" %}

{% load static %}

{% block css %}<link rel="stylesheet" href="{% static 'authentication/authenticationStyles.css' %}">{% endblock %}

{%  block script %}{% endblock %}

{% block title %}Register{% endblock %}

{% block main %}
<div class="main-form">
  <div class="form">
    <form class="form-group" id="registerform">
      <h2>Register</h2>

      <div class="input-container">
        <span class="mr-3 material-icons">email</span>
        <input class="form-control" type="email" name="email" id ="email" placeholder="E-mail"><br>
      </div>

      <div class="input-container">
        <span class="mr-3 material-icons">person</span>
        <input class="form-control" type="text" name="username" id ="username" placeholder="Username"><br>
      </div>

      <div class="input-container">
        <span class="mr-3 material-icons">password</span>
        <input class="form-control" type="password" name="password" id="password" placeholder="Password"><br>
      </div>

      <div class="input-container">
        <span class="mr-3 material-icons">password</span>
        <input class="form-control" type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password"><br>
      </div>
      <button class="form-control" type="submit" name="login" id="login">Create Account</button>
    </form>
  </div>
</div>
{% endblock %}
