{% extends "base.html" %}

{% load static %}

{% block css %}<link rel="stylesheet" href="{% static 'authentication/authenticationStyles.css' %}">{% endblock %}

{%  block script %}{% endblock %}

{% block title %}Register{% endblock %}

{% block main %}
  <form class="form-group" id="registerform">
    <h3 class="heading">Register</h3>
    <input class="form-control" type="email" name="email" id="email" placeholder="Email"><br>
    <input class="form-control" type="text" name="username" id ="username" placeholder="Username"><br>
    <input class="form-control" type="password" name="password" id="password" placeholder="Password"><br>
    <input class="form-control" type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password"><br>
    <button class="form-control" type="submit" name="login" id="login">Create Account</button>
  </form>
{% endblock %}
