{% extends "base.html" %}

{% load static %}

{%  block script %}{% endblock %}

{% block css %}<link rel="stylesheet" href="{% static 'newGroup.css' %}">{% endblock %}

{% block title %}New Group{% endblock %}

{% block main %}
<div class="main-form">

  <div class="form">
    <form class="form-group" id="newGroupForm">
      {% csrf_token %}
      <h2>Welcome!</h2>

      <div class="input-container">
        <span class="mr-3 material-icons">title</span>
        <input class="form-control" type="text" id ="group name" placeholder="Group Name"><br>
      </div>

      <div class="input-container">
        <span class="mr-3 material-icons">password</span>
        <input class="form-control" type="password" name="password" id="password" placeholder="Password"><br>
      </div>

      <div class="input-container">
        <span class="mr-3 material-icons">login</span>
        <button class="form-control" type="submit" name="login" id="login">Login</button>
      </div>

    </form>
  </div>
</div>
{% endblock %}
