{% extends "base.html" %}

{% load static %}

{%  block script %}{% endblock %}

{% block css %}<link rel="stylesheet" href="{% static 'newGroup.css' %}">{% endblock %}

{% block title %}New Group{% endblock %}

{% block main %}
<div class="main-form">

  <div class="form">
    <form class="form-group" id="newGroupForm">
      {% csrf_token %}
      <h2>Create your new group</h2>

      <div class="input-container">
        <span class="mr-3 material-icons">title</span>
        <input class="form-control" type="text" id ="group name" placeholder="Group Name"><br>
      </div>

      <div class="input-container">
        <span class="mr-3 material-icons">person</span>
        <select class="form-select" multiple id="users" form="newGroupForm" aria-label="multiple select example">
          {% for user in Users %}
            <option value={{ user.username }}>{{ user.username }}</option>
          {% endfor %}
        <select>
      </div>

      <span class="select-multiple-instructions">Ctrl + left-click to select multiple</span>

      <div class="input-container">
        <span class="mr-3 material-icons">add</span>
        <button class="form-control" type="submit" name="create" id="create">Create</button>
      </div>

    </form>
  </div>
</div>
{% endblock %}
