{% extends "base.html" %}

{% load static %}

{% block script %}<script src="{% static "search_users_friends.js" %}" type="text/javascript"></script>{% endblock %}

{% block css %}<link rel="stylesheet" href="{% static 'search_users_friends.css' %}">{% endblock %}

{% block title %}{% endblock %}

{% block main %}
<div class="main-block">
  <div class="user-list">
    <ol class="list-group">
      <a href="#" class="list-group-item list-group-item-action">Cras justo odio</a>
      <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
      <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
      <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
      <a href="#" class="list-group-item list-group-item-action">Vestibulum at eros</a>
      <a href="#" class="list-group-item list-group-item-action">Cras justo odio</a>
      <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
      <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
      <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
      <a href="#" class="list-group-item list-group-item-action">Vestibulum at eros</a>
      <a href="#" class="list-group-item list-group-item-action">Cras justo odio</a>
      <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
      <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
      <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
      <a href="#" class="list-group-item list-group-item-action">Vestibulum at eros</a>
    </ol>
  </div>

  <div class="user-profile">
    <div class="circle">
      <span id="profile-pic">A</span>
    </div>

    <div class="user-details">
      <span id="name">Cras</span>
      <label>Name</label>

      <span id="username">Cras123</span>
      <label>Username </label>

      <span id="email">Cras@email.com</span>
      <label>Email </label>
    </div>

    <div id="send-message">
      <span class="material-icons" id="send-message-icon">chat</span>
      <span>Send Message</span>
    </div>
  </div>
</div>
{% endblock %}
