.main-form{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.heading {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.form {
  display: flex;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

#newGroupForm {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.form-group .material-icons {
  color: black;
  display: inline-block;
}

#users {
  width: 100%;
  border-color: lightgrey;
}

#users::-webkit-scrollbar {
  width: 10px;
}

#users::-webkit-scrollbar-track {
  /* color of the tracking area */
  border-radius: 20px;       /* roundness of the scroll thumb */
  margin-top: 5px;
  margin-bottom: 5px;
}

#users::-webkit-scrollbar-thumb {
  background-color: lightgrey;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  /* creates padding around scroll thumb */
}

.select-multiple-instructions {
  font-size: 10px;
  margin-top: 0;
  margin-bottom: 10px;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 15px;
}
