html{
  height: 100%;
}

body {
  font-family: sans-serif;
  height: 100%;
  width: 100%;
}

nav{
  background-color: grey;
}

main {
  height: calc(100vh - 80px);
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav-item {
  display: flex;
  flex: auto;
  margin-left: 35px;
  margin-right: 35px;
}

.nav-item .material-icons:hover{
  color:black;
}

#nav-link-text{
  color: white;
  font-weight: bold;
}

#nav-link-text:hover {
  color: black;
}

.material-icons {
  padding-top: 8px;
  color: white;
}
