html{
  height: 100%;
}

body {
  font-family: sans-serif;
  height: 100%;
  width: 100%;
}

nav{
  background-color: grey;
}

main {
  height: calc(100vh - 56px);
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav-item {
  display: flex;
  flex: auto;
  margin-left: 50px;
}

.nav-link{
  color: white;
}

.material-icons {
  padding-top: 8px;
  color: white;
}
